* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 170px 0px;
}

#container {
    /* border: 2px solid red; */
    background-color: white;
    height: 250px;
    width: 500px;
    border-radius: 10px;
}

.form-control {
    width: 80%;
}